.backround{
    background-color:lightblue;
    background-image: url("pexels-photo-1229861.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
  
}