*{
    margin: 0px ;
}
caption{
  caption-side: top; 
  font-size: 50px;
}
/* caption has two property bottom and top*/

th,td{
    border: 1px solid red;
    padding: 20px;
    color:black;
}
table{
    border-collapse: collapse;
    margin-left: 20px;
}

tr:hover{
    background-color: gray;
}
tr:nth-child(odd){
    background-color: green;
    color: white;
}
